{% extends "layout/base.html" %}

{% block content %}
<div id="header" class="row">
<img id="headerimg" src="https://yt3.ggpht.com/-e_4F9h4RV5c/AAAAAAAAAAI/AAAAAAAAAAA/SWIdn-KqE74/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" />
<h1 id="headertext">Portofolio</h1>
</div>

<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>

<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}