 {% extends "layout/base.html" %}

    {% block title %} Kumpulan Pesan {% endblock %}

    {% block content %}
    <!--  Populate semua isi pesan dari model -->
    <table class="table">
        <thead class="table-inverse table-primary">
            <th class="bg-primary">Nama</th>
            <th class="bg-primary">Email</th>
            <th class="bg-primary">Pesan</th>
            <th class="bg-primary">Dibuat Pada</th>
        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in message %}
            {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
            <tr class="table-warning"> {% else %} <tr class="table-success">
                {% endif %}
                <td> {{i.name}} </td>
                <td> {{i.email}} </td>
                <td> {{i.message}} </td>
                <td> {{i.created_date|time}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
