{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{ author }}">
    <link rel="stylesheet" href="{% static 'css/lab_4.css' %}" type="text/css" />
    <!-- bootstrap csss -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<body>
    <style type="text/css">
        /*body {
  min-height: 2000px;
}
*/
nav {
  margin-bottom: 20px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

#headerimg {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 40px;
    display: inline-block;
}

#header {
    height: 200px;
    width:100%;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}

#footer {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 40px;
    width: 100%;
    display:flex;
    align-items: center;
}
    </style>
    <header>
        {% include "partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <nav id="footer" class="navbar navbar-light bg-light">
            <div class="container">
                {% block footer %}
                {% include "partials/footer.html" %}
                {% endblock %}
            </div>
        </nav>
        <!-- TODO Block Footer dan include footer.html -->
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
