{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <div class="col d-flex flex-row">
        <img src="{{movie.Poster}}" />
        <div>
            <h6>{{movie.Production}}</h6>
            <h2>{{movie.Title}}</h2>
            {% for rating in movie.Ratings %}
            <span class="badge badge-primary">{{rating.Source}}: {{rating.Value}}</span>
            {% endfor %}
            <span class="badge badge-success">Year: {{movie.Year}}</span>
            <span class="badge badge-warning">Genre: {{movie.Genre}}</span>
            <p></p>
            <p>{{movie.Actors}}</p>
            <p>{{movie.Plot}}</p>
            <hr>
            {% if added %}
        <button class="btn btn-success float-right"> Added to Watch Later </button>
    {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning float-right"> Add to Watch Later </a>
    {% endif %}
        </div>
    </div>
</div>
{% endblock %}