{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2> List Movie </h2>
    </div>
    <form method="GET" action="{% url 'lab-10:movie_list' %}" class="mb-5">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="formJudul">Nama</label>
                <input name="judul" type="text" class="form-control" id="formJudul" placeholder="Judul Film" value="{{judul}}">
            </div>
            <div class="form-group col-md-6">
                <label for="formTahun">Tahun</label>
                <input name="tahun" type="text" class="form-control" id="formTahun" placeholder="Tahun Film" value="{{tahun}}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Cari</button>
    </form>

    <hr>
    <div class="table table-responsive">
        <table class="table table-hover" id="myTable" style="width: none;">
            <thead>
            <th> Judul</th>
            <th> Tahun</th>
            <th> Poster</th>
            <th> Detail</th>
            </thead>
        </table>
    </div>
</div>

<!-- Jquery script -->
<script type="text/javascript">
    $(document).ready(function(e) {
        $('#myTable').DataTable( {
            "ajax": {
                "dataType" : 'json',
                "contentType": "application/json; charset=utf-8",
                "url": {% autoescape off %} {{ jsonUrlDT }} {% endautoescape%} ,
                "dataSrc": "dataku",
            },
            "columns" : [
                {"data" : "Title"},
                {"data" : "Year"},
                {
                    "data" : "Poster",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<img src='"+ oData.Poster +"' style='height:50%' class='img-responsive img-thumbnail'/>");
                    }
                },
                {
                    "data" : null,
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href='/lab-10/movie/detail/"+ oData.imdbID +"' class='btn btn-primary'> Detail </a>");
                    }
                }
            ],
        } );
    });
</script>

{% endblock %}
