{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <div class="col d-flex flex-row flex-wrap">
    {% for movie in watch_later_movies %}
        <div class="card" style="width: 20rem; margin-right: 10px; margin-top: 10px">
            <img class="card-img-top" src="{{movie.Poster}}" alt="Card image cap" style="display: block;
            max-height: 318px;
            max-width: 318px;">
            <div class="card-body">
                <h4 class="card-title">{{movie.Title}}</h4>
                {% for rating in movie.Ratings %}
                <span class="badge badge-primary">{{rating.Source}}: {{rating.Value}}</span>
                {% endfor %}
                <p></p>
                <p class="card-text">{{movie.Plot}}</p>
                <a href="{% url 'lab-10:movie_detail' movie.imdbID %}" class="btn btn-primary">Detail</a>
                {% if section != 'watched' %}
                <a href="{% url 'lab-10:add_watched' movie.imdbID %}" class="btn btn-primary">Add to watched list</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
