{% load staticfiles %}
{% load static %}
<html>
  <head>
    <title></title>
    <script src="{% static "js/lab_8.js" %}"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_8.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  </head>
  <body>
    <div id="lab8"></div>
    <button id="loginButton" onclick="facebookLogin()">Login with Facebook</button>
  </body>
</html>