<nav class="navbar navbar-default navbar-static-top navbar-inverse bg-primary navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'lab-4:index' %}">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lab-4:index' %}#form"> Form </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lab-4:result_table' %}"> Messages Table </a>
        </li>
      </ul>
    </div>
  </div>
</nav>