body {
  margin: 0;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
}

#lab8 {
  display: flex;
  max-width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  #lab8 {
    display: flex;
    max-width: 1000px;
    flex-direction: column;
  }
}

.header {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cover {
  object-fit: cover;
  width: 100%;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.picture {
  width: 64px;
  height: 64px;
}

.card {
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  margin-bottom: 30px;
}

.row {
  margin: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.data {
  margin-left: 15px;
}
.data > h1 {
  margin: 0;
}

.data > h2 {
  margin: 0;
  font-weight: 300;
}

.status {
  padding: 30px;
}
#postInput {
  resize: none;
  border: none;
  width: 100%;
}

.postStatus {
  float: right;
}

.feed {
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 1rem;
}

.feed > h1 {
  font-size: 1.5rem;
}

.feed > h2 {
  font-size: 1.2rem;
}

#loginButton {
  height: 2rem;
}