/*body {
  min-height: 2000px;
}
*/
nav {
  margin-bottom: 20px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

#headerimg {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 40px;
    display: inline-block;
}

#header {
    height: 200px;
    width:100%;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}

#footer {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 40px;
    width: 100%;
    display:flex;
    align-items: center;
}