{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center">Hai semua, berikut adalah Catatan Harianku</h3>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center">
            <tr>
                <th>Tanggal</th>
                <th>Yang akan dikerjakan</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="{% url 'lab-3:add_activity' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Tanggal
                    </td>
                    <td>
                        {% if errors.date %}
                        <div class="alert alert-danger">
                            {{ errors.date }}
                        </div>
                        {% endif %}
                        <input type="datetime-local" name="date" id="date" value="{{ old.date }}" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Kegiatan
                    </td>
                    <td>
                        {% if errors.activity %}
                        <div class="alert alert-danger">
                            {{ errors.activity }}
                        </div>
                        {% endif %}
                        <input type="text" name="activity" id="activity" value="{{ old.activity }}" size="25"/>

                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
