{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Dashboard</h4>
        <p class="card-text"> Username : {{ author }} </p>
        <p class="card-text"> NPM : {{kode_identitas}} </p>
        <p class="card-text"> Role : {{ role }} </p>

        <a class="card-link" href="{% url 'lab-10:movie_list' %}"> Daftar Movie </a>
        <a class="card-link" href="{% url 'lab-10:list_watch_later' %}"> Daftar Watch Later </a>
        <a class="card-link" href="{% url 'lab-10:auth_logout' %}" onclick="return confirm('Keluar?')">Logout</a>
    </div>
</div>
{% endblock %}
