{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="LAB 10">
        <meta name="author" content="{{author}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

        <style>
            .rata-tengah {
                text-align: center;
                margin : 20px;
            }
            .judul {
                text-transform:uppercase;
                margin-bottom: 50px;
                margin-top: 50px;
            }
        </style>

        <title>
            {% block title %} Lab 10 PPW by fata.nugraha {% endblock %}
        </title>
    </head>
    <body>
        <header class="container mt-3 mb-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Lab 10 PPW</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link {% if section == 'dashboard' %}active{% endif %}" href="{% url 'lab-10:dashboard' %}">Dashboard</a>
                        <a class="nav-item nav-link {% if section == 'movies' %}active{% endif %}" href="{% url 'lab-10:movie_list' %}">Movie List</a>
                        <a class="nav-item nav-link {% if section == 'watch_later' %}active{% endif %}" href="{% url 'lab-10:list_watch_later' %}">Watch Later List</a>
                        <a class="nav-item nav-link {% if section == 'watched' %}active{% endif %}" href="{% url 'lab-10:watched' %}">Watched List</a>
                    </div>
                </div>
            </nav>
        </header>
        <content>
            <div class="container">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}

                {% block content %}{% endblock %}
            </div>
        </content>
        <div style="height: 60px;"></div>
        <footer class="fixed-bottom" style="background-color: white">
            <hr>
            <small style="display: block; text-align:center"><em>yay lab terakhir</em></small>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script type="application/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    </body>
</html>
