{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list">
        <div class="container">
            <div class="row">
            <h2> Teman Saya </h2>
            <div class="list-group" id="friend-list">
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}",
                success: function (response) {
                    // console.log(response);
                    response.results.forEach(function(item) {
                        $("#friend-list").append('<a id="friend-'+item.id+'" class="list-group-item clearfix">'+
                            item.friend_name+' ('+item.npm+')'+
                        '<span class="delete" id="'+item.id+'" onclick="deleteFriend('+item.id+')">(delete)</span>');
                    });
                    if ($("#friend-list").children().length == 0) {
                        $("#friend-list").append('<div id="empty-alert" class="alert alert-danger text-center"><strong>Opps!</strong> Tidak ada teman</div>');
                    }
                },
                error: function(error){
                    //tampilkan pesan error
                }
            });
        });
        var deleteFriend = function(id) {
            $.ajax({
                method: "POST",
                url: "/lab-7/delete-friend/"+id+"/",
                success: function () {
                    $("#friend-"+id).remove();
                    if ($("#friend-list").children().length == 0) {
                        $("#friend-list").append('<div id="empty-alert" class="alert alert-danger text-center"><strong>Opps!</strong> Tidak ada teman</div>');
                    }
                }
            });

        }

    </script>
{% endblock %}