{% extends "lab_7/layout/base.html" %}
    {% block content %}
    <section name="mahasiswa-list" id="mahasiswa-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Mahasiswa Fasilkom</h2>
                    <div class="list-group">
                        {% if mahasiswa_list %}
                            {% for mahasiswa in mahasiswa_list %}
                                <a class="list-group-item clearfix">
                                    {{ mahasiswa.nama }} ({{ mahasiswa.npm }})
                                    <span class="pull-right">
                            <span class="btn btn-xs btn-default" onClick="addFriend('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}')">
                                Tambah sebagai teman
                            </span>
                        </span>
                                </a>
                            {% endfor %}

                        {% else %}
                            <div class="alert alert-danger text-center">
                                <strong>Opps!</strong> Tidak ada mahasiswa
                            </div>
                        {% endif %}
                    </div>
                    <ul class="pagination">
                        {% for i in pages %}
                        <li><a href="/lab-7/?page={{i}}">{{i}}</a></li>
                        {% endfor %}
                      </ul>
                </div>
                <div class="col-lg-4">
                    <h2> Teman Saya </h2>
                    <div class="list-group" id="friend-list">
                        {% if friend_list %}
                            {% for friend in friend_list %}
                                <a id="friend-{{friend.id}}" class="list-group-item clearfix">
                                    {{ friend.friend_name }} ({{ friend.npm }})
                                <span class="delete" id="{{friend.id}}" onclick="deleteFriend({{friend.id}})">(delete)</span>

                                </a>
                            {% endfor %}
                        {% else %}
                            <div id="empty-alert" class="alert alert-danger text-center">
                                <strong>Opps!</strong> Tidak ada teman
                            </div>
                        {% endif %}
                    </div>
                    <form id="add-friend" action="#">
                        {% csrf_token %}
                        <label for="field_npm">npm</label>
                        <input id="field_npm" type="text" name="npm" class="form-control"/>
                        <label for="field_name">name</label>
                        <input id="field_name" type="text" name="name" class="form-control"/>
                        <button type="submit">Tambah</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block javascript %}
    <script>
        var addFriend = function(nama, npm) {
            if (nama && npm)
                $.ajax({
                    method: "POST",
                    url: "{% url "lab-7:add-friend" %}",
                    data: { name: nama, npm: npm},
                    success : function (friend) {
                        if (friend.id) {
                            html =
                                '<a id="friend-'+friend.id+'" class="list-group-item clearfix">' +
                                    friend.friend_name + ' ('+friend.npm+')' +
                                    '<span class="delete" id='+friend.id+' onclick="deleteFriend('+friend.id+')">(delete)</span>'
                                '</a>';
                        $("#friend-list").append(html)
                        if ($("#empty-alert")) $("#empty-alert").remove();
                        }
                    },
                });
        };

        var deleteFriend = function(id) {
            $.ajax({
                method: "POST",
                url: "/lab-7/delete-friend/"+id+"/",
                success: function () {
                    $("#friend-"+id).remove();
                    if ($("#friend-list").children().length == 0) {
                        $("#friend-list").append('<div id="empty-alert" class="alert alert-danger text-center"><strong>Opps!</strong> Tidak ada teman</div>');
                    }
                }
            });

        }
        $("#add-friend").on("submit", function (event) {
            event.preventDefault();

            name = $("#field_name").val()
            npm = $("#field_npm").val()
            addFriend(name, npm)
        });

        $("#field_npm").change(function () {
            console.log( $(this).val() );
            npm = $(this).val();
            $.ajax({
                method: "POST",
                url: '{% url "lab-7:validate-npm" %}',
                data: { 'npm': npm },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        alert("Mahasiswa dengan npm seperti ini sudah ada");
                    }
                }
            });
        });
    </script>
    {% endblock %}